.mat-column-select {
  width: 75px;
  max-width: 75px;
  padding-inline: 16px;
}

.mat-column-name {
  width: auto;
}

.mat-column-position {
  width: auto;
}

.mat-column-hiringDate {
  width: 150px;
  max-width: 150px;
}

.mat-column-salary {
  width: 150px;
  max-width: 150px;
}

.mat-column-action {
  width: 180px;
  max-width: 180px;
  padding-inline: 16px;
}
